<template>
    <div id="footer">
        <h1>this is footer</h1>
    </div>
</template>

<script>
    export default {
        
    }
</script>

<style scoped>
#footer{
    text-align: center;
}
</style>