<template>
  <div id="header">
    <nav>
      <ul>
        <li v-if="$auth.loggedIn">
          <button class="btn" @click="$auth.logout()">خروج</button>
        </li>
        <li v-else>
          <nuxt-link to="/signin">ورود</nuxt-link>
        </li>
      </ul>
    </nav>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
@import "assets/scss/variables";
#header {
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  background-color:map-get($colors,da_light);
  nav {
    width: 50%;
    ul {
      width: 100%;
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        width: max-content;
        padding: 0 15px 5px 15px;
        box-sizing: border-box;
        text-align: center;
        background-color: map-get($colors,da_blue_light);
        border-radius: 1px;
         a{
            color:#fff;
            text-decoration: none;
         }
      }
    }
  }
}
</style>
