<template>
    <div class="container-fluid">
      <div class="col">
        <div class="row">
          <header>
            <layouts-index-header />
          </header>
        </div>
        <div class="row">
          <Nuxt />
        </div>
        <div class="row">
          <footer>
            <layouts-index-footer />
          </footer>
        </div>
      </div>
    </div>
</template>
<script>
export default {
  head() {
    return {
      titleTemplate: "%s - دمیرکو",
      meta: [
        {
          hid: "description",
          name: "description",
          content: "دمیرکو یک سایت خرید و فروش ماشین آلات صنعتی است"
        }
      ]
    };
  }
};
</script>
<style></style>
