<template>
  <div class="container-fluid">
    <div class="col">
      <div class="row">
        <Nuxt />
      </div>
    </div>
  </div>
</template>

<script>
export default {


};
</script>

<style lang="scss" scoped></style>
