// $da_black:#1B262C;
// $da_blue_dark:#0F4C75;
// $da_blue_light:#3282B8;
// $da_light:#BBE1FA;
$colors:(
  da_dismal:#1B262C,
  da_blue_dismal:#0F4C75,
  da_blue_light:#3282B8,
  da_light:#BBE1FA,
);
