@import "variables";
/* # sourceMappingURL=main.css.map */
html,body,#__nuxt,#__layout{
  direction: rtl;
  height: 100%;
}
#__nuxt{
    width: 100%;
}
body{
    background-color:#fff;
}
.container-fluid{
    padding: 0;
}
main,header,footer{
    width: 100%;
}





////functions

@function color ($color_name){
  @return map-get($colors,$color_name)
}
