<template>
  <div class="col">
    <div class="row">
      <div class="body">
        <div class="col">
          <div class="row">
            <div id="detail">
              <div class="odd">
                <h1 v-text="product.title">دستگاه iphone</h1>
              </div>
              <div class="even pp">
                <span><strong>قیمت:</strong></span>
                <span class="pr-2" v-text="product.price">وارد نشده است</span>
              </div>
              <div class="odd pp">
                <span><strong>ارائه نمونه:</strong></span>
                <span class="pr-2">-</span>
              </div>
              <div class="even pp">
                <span><strong>امتیاز:</strong></span>
                <span class="pr-2" >0</span>
              </div>
              <div class="odd text-center pt-4">
                <button id="btn-stelam" class="btn">استعلام قیمت</button>
              </div>
            </div>
            <div class="w-50 pl-1 pr-2">
              <client-only placeholder="loading...">
                <slider animation="fade" :autoplay="false">
                  <slider-item
                    v-for="(i, index) in list"
                    :key="index"
                    :style="i"
                    @click="hello"
                  >
                    <img :src="require(`@/assets/images/${i.image}`)" alt="" />
                    <!-- <p
                    style="
                      line-height: 280px;
                      font-size: 5rem;
                      text-align: center;
                    "
                  >
                    Page{{ index + 1 }}
                  </p> -->
                  </slider-item>
                </slider>
              </client-only>
            </div>

          </div>
          <div class="row">
            <div >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// import Carousel from '@/components/carousel.vue'
// import { Slider, SliderItem } from "vue-easy-slider";
import { mapGetters } from 'vuex'
export default {
  layout: "index/index",
  async fetch({ store, error, route }) {
    try {
      await store.dispatch("get_product", route.params.product);
    } catch (e) {
      error({
        statusCode: "503",
        message: "خطایی رخ داده است",
      });
    }
  },
  data() {
    return {
      list: [
        {
          width: "100%",
          height: "100%",
          image: "apple-iphone-12-64gb-purple-53017-mjn13ll-a.jpg",
        },
        {
          width: "100%",
          height: "100%",
          image: "iphone-12-pro-pacific-blue.jpg",
        },
      ],
    };
  },
  components: {
    // Carousel
  },
  computed: {
    ...mapGetters([
      'product'
    ])
  },
  methods: {
    hello($event) {
      console.log(`hello index: ${$event}`);
    },
  },
};
</script>

<style lang="scss" scoped>
@import "assets/scss/variables";
.body {
  width: 85%;
  margin: 20px auto;
  border-radius: 2px;
  background-color: map-get($colors, da_light);
  height: 500px;
  padding: 10px;

  .slider-item {
    // background-color: aqua;
    padding-top: 5px;
    text-align: center;
    img {
      width: 60%;
      height: 80%;
      border-radius: 8px;
      border-radius: 10%;
    }
  }
}
#detail {
  width: 50%;
  // background-color: mediumaquamarine;
  text-align: right;
  .odd,
  .even {
    width: 100%;
    height: 50px;
    // box-sizing: border-box;
    h1 {
      font-size: 21px;
    }
    #btn-stelam {
      background-color: map-get($colors, da_blue_light);
      color: white;
    }
  }
  .pp {
    padding: 10px 5px 0 0;
    box-sizing: border-box;
  }
  .even {
    // background-color: map-get($colors, da_light);
    background-color: white;
  }
}
</style>
