<template>
  <main id="main">
    <h1 class="tt">This is about</h1>
  </main>
</template>

<script>
export default {
  layout: "index/index",
  head() {
    return {
      title: "صفحه درباره ما",
       meta:[
        {
          hid:'description',
          name:'description',
          content:'توضیح کوتاهی درباره ما'
        }
      ]
    };
  }
};
</script>

<style scoped lang="scss">
@import "assets/scss/variables";
.tt {
  color: map-get($colors,da_blue_dismal);
  text-align: center;
}
</style>
