<template>
  <main id="main">
    <h1 class="tt">This is Main</h1>
  </main>
</template>

<script>
// import EventServeice from '@/services/EventService.js'
import { mapState } from "vuex";
export default {
  layout: "index/index",
  head() {
    return {
      title: "صفحه اصلی"
      // meta:[
      //   {
      //     hid:'description',
      //     name:'description',
      //     content:'دمیرکو یک سایت خرید و فروش ماشین آلات صنعتی است'
      //   }
      // ]
    };
  },
  // asyncData(context){
  //   return context.$axios.get('http://127.0.0.1:8000/api')
  //   .then(response =>{
  //     return{
  //       result:response.data.result
  //     }
  //   })
  // }
  // async asyncData({$axios,error}){
  //   try{
  //     const {data}= await EventServeice.get_home()
  //     return{
  //       result:data.result
  //     }
  //   }catch(e){
  //       error({
  //         statusCode:503,
  //         message:'خطایی رخ داده است'
  //       })
  //   }
  // }

  async fetch({ store, error }) {
    try {
      await store.dispatch("get_home");
    } catch (e) {
      error({
        statusCode: 503,
        message: "خطایی رخ داده است"
      });
    }
  },
  computed: mapState({
    result: state => state.get_home
  })
};
</script>

<style lang="scss" scoped>
@import "assets/scss/variables";
.tt {
  color: map-get($colors,da_blue_light);
  text-align: center;
}
</style>
