<template>
  <div id="signin">
    <div class="signin">
      <form action="" v-on:submit.prevent="login">
        <fieldset>
          <!-- <font-awesome-icon :icon="['fas', 'envelope']" />
          <font-awesome-icon :icon="['fa', 'asterisk']" />
          <font-awesome-icon :icon="['fas', 'sign-in']" />
          <font-awesome-icon icon="circle" />
          <font-awesome-icon
            icon="check"
            transform="shrink-6"
            :style="{ color: 'white' }"
          /> -->
          <legend>ورود</legend>
          <div class="form-group">
            <label for="">نام کاربری</label>
            <input
              type="text"
              id="username"
              v-model="username"
              class="form-control"
            />
          </div>
          <div class="form-group">
            <label for="">رمز عبور</label>
            <input
              type="password"
              id="password"
              v-model="password"
              class="form-control"
            />
          </div>
          <input type="submit" class="btn" value="ثبت" />
        </fieldset>
      </form>
      <div class="to_signup">
        هنوز ثبت نام نکرده اید،برای ثبت نام
        <nuxt-link to="/signup">کلیک</nuxt-link>
        کنید
      </div>
    </div>
  </div>
</template>

<script>
export default {
  layout: "index/sign",
  head() {
    return {
      title: "صفحه ورود",
      meta: [
        {
          hid: "description",
          name: "description",
          content: "با ورود به دمیرکو میتوانید به خرید و فروش و تعامل بپردازید",
        },
      ],
    };
  },
  middleware: "guest",
  data() {
    return {
      username: "",
      password: "",
    };
  },
  methods: {
    login() {
      let form = new FormData();
      form.append("username", this.username);
      form.append("password", this.password);
      // formData.append('data', JSON.stringify(this.data));
      this.$store.dispatch("do_login", form);
    },
  },
};
</script>

<style lang="scss" scoped>
@import "assets/scss/variables";
// @import "assets/scss/main";
#signin {
  width: 100%;
  // background-color:  map-get($colors,da_light);

  .signin {
    width: 60%;
    position: absolute;
    top: 100px;
    right: 19%;
    // vertical-align: middle;
    // margin: auto;
    background-color: map-get($colors, da_light);
    form {
      width: 90%;
      margin: auto;
      text-align: right;
      padding: 10px 20px;
      box-sizing: border-box;

      legend,
      label {
        color: map-get($colors, da_dismal);
        font-weight: bold;
      }

      .btn {
        background-color: map-get($colors, da_blue_light);
        // background-color: color(da_blue_dismal);
        color: #fff;
        margin-right: 5px;
      }
    }
    .to_signup {
      width: 100%;
      margin: auto;
      text-align: center;
      padding: 10px;
      font-weight: bold;
      a {
        color: map-get($colors, da_blue_light);
      }
    }
  }
}
</style>
