<template>
  <div id="signup">
    <div class="signup">
      <form action="" v-on:submit.prevent="register">
        <fieldset>
          <legend>ثبت نام</legend>
          <div class="form-group">
            <label for="">نام کامل</label>
            <input
              type="text"
              id="fullname"
              v-model="fullname"
              class="form-control"
            />
          </div>
          <div class="form-group">
            <label for="">نام کاربری</label>
            <input
              type="text"
              id="username"
              v-model="username"
              class="form-control"
            />
          </div>
          <div class="form-group">
            <label for="">رمز عبور</label>
            <input
              type="password"
              id="password"
              v-model="password"
              class="form-control"
            />
          </div>
          <input type="submit" class="btn" value="ثبت" />
        </fieldset>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  layout: "index/sign",
  middleware: "guest",
  head() {
    return {
      title: "صفحه ثبت نام",
      meta: [
        {
          hid: "description",
          name: "description",
          content: "با ثبت نام در دمیرکو از خدمات خرید و فروش استفاده کنید",
        },
      ],
    };
  },
  data() {
    return {
      fullname: "",
      username: "",
      password: "",
    };
  },
  methods: {
    register() {
      let form = new FormData();
      form.append("fullname", this.fullname);
      form.append("username", this.username);
      form.append("password", this.password);
      // formData.append('data', JSON.stringify(this.data));
      this.$store.dispatch("do_register", form);
    },
  },
};
</script>

<style lang="scss" scoped>
@import "assets/scss/variables";
#signup {
  width: 100%;
}
.signup {
  width: 60%;
  position: absolute;
  top: 100px;
  right: 19%;
  // vertical-align: middle;
  // margin: auto;
  background-color: map-get($colors, da_light);
  form {
    width: 90%;
    margin: auto;
    text-align: right;
    padding: 10px 20px;
    box-sizing: border-box;

    legend,
    label {
      color: map-get($colors, da_dismal);
      font-weight: bold;
    }

    .btn {
      background-color: map-get($colors, da_blue_light);
      color: #fff;
      margin-right: 5px;
    }
  }
}
</style>
